<div class="maindiv">

<h2>PF FORMS</h2>

<table class="table table-bordered firsttable">
  <thead>
    <tr >
      <th scope="col">DOCUMENT NAME</th>
      <th scope="col">DOCUMENT LINK</th>
    </tr>

    <tr>
      <td ><input> </td>
    </tr>


  </thead>
</table>

<h3>FILE UPLOAD</h3>

<table class="table table-bordered secondtable">
  <thead>
    <tr >
      <th scope="col">DOCUMENT <br> <br>NAME</th>
      <th scope="col">UPLOADED <br> <br> BY</th>
      <th scope="col">DATE <br> <br>TIME</th>
      <th scope="col">SIZE <br><br></th>
      <th scope="col">PREVIEW <br><br></th>
      <th scope="col">ACTIONS <br><br></th>
    </tr>

    <tr>
      <td colspan="6" class="sfiles"><a href="#">Select Files</a></td>
    </tr>


  </thead>
</table>
</div>
